{% extends "layout.html" %}

{% block main %}
<!-- **************************************************** About me **************************************************** -->
    <!-- Title for About me Starts -->
    <div class="title-section">
        <h1 id="about" class="title-header">About me</h1>
    </div>
    <!-- Title for about me ends -->

    <!-- About me section starts -->
    <div class="section-body watched">
        <div class="section-content">

             <!-- Section row 1 ends -->
            <div class="section-content-row">
                <div class="my-pic-display-top">
                    <img src="\static\tech-pic.png"/>
                </div>
            </div>
             <!-- Section row 2 ends -->

            <!-- Section row 2 starts -->
            <div class="section-content-row">

                <!-- Collumn 1 starts -->
                <div>
                    <h1 class="my-header-1">Who?</h1>
                    <h1 class="my-header-2">Computer Enthusiast</h1>

                </div>
                <!-- Collumn 1 ends -->
                
                <!-- Collumn 2 start -->
                <div class="my-pic">
                    <img src="\static\tech-pic.png"/>
                </div>
                <!-- Collumn 2 ends -->

            </div>
            <!-- Section row 2 ends -->

            <!-- Section row 3 starts -->
            <div class="section-content-row">
                <div class="section-content-col">
                    <p class="basic-text-header"><span class="highlight">{</span>My Qualities<span class="highlight">}</span></p>
                    <p class="basic-text"><span class="first-letter">H</span>ighly organized with exceptional commitment to task completion and quality assurance when working with computer software programs.</p>
                    <div class="section-content-row">
                        <p class="basic-text">Committed to delivering company objectives to projects and results to customers and improving each version of software I engage with.</p>
                    </div>
                </div>  
                <p class="break-line"></p>
                <div class="section-content-col">
                    <p class="basic-text-header"><span class="highlight">{</span>My Passions<span class="highlight">}</span></p>
                    <p class="basic-text"><span class="first-letter">A</span>fter my work day ends each day, I work on hobbies that are based on computers and technology. I am a volunteer at a local community technology venture that aims to bring high-tech devices to low-income neighborhoods. I work with local vendors to get technology donations onto a portable technology bus that visits various parts of the city several times a week. On the bus, I assist young people and the elderly with getting connected.</p>
                </div>
            </div>
            <!-- Section row 3 ends -->
            <!-- Section row 4 starts-->
            <div class="section-content-row" style="justify-content:center;">
                <a href="/static/Resume.pdf" class="my-button" download >Resumé</a>
            </div>
            <!-- Section row 4 ends -->
        </div>
    </div>
    <!-- About me section ends -->
    <!-- **************************************************** About me ends **************************************************** -->
{% endblock %}