{% extends "layout.html" %}

{% block main %}
    <!-- **************************************************** Introduction **************************************************** -->
    <!-- Title for section start -->
    <div class="title-section">
        <h1 class="title-header">My Experiences</h1>
    </div>
    <!-- Title for section ends -->
   
    <!-- Introduction section starts -->
    <div class="section-body watched">
        <div class="section-content">

            <!-- Hidden picture until screen size is 720px Then it will display on top of content -->
            <!-- Section row 1 starts -->
            <div class="section-content-row">
                <div class="my-pic-display-top">
                    <img src="static\profile-pic.png"/>
                </div>
            </div>
            <!-- Section row 1 ends -->

            <!-- Section row 2 starts -->
            <div class="section-content-row">

                <!-- Collumn 1 starts -->
                <div>
                    <h1 class="my-header-1">2020-2021</h1>
                    <h1 class="my-header-3">Assistant Database Inquirer.</h1>
                </div>  
                <!-- Collumn 1 ends -->
                
                <!-- Collumn 2 starts -->
                <div class="my-pic">
                    <img src="static\profile-pic.png"/>
                </div>
                <!-- Collumn 2 ends -->

            </div>
            <!-- Section row 2 ends -->

            <!-- Section row 3 starts-->
            <div class="section-content-row">
                <p class="basic-text"><span class="first-letter">I</span> Worked at a company called Samskip ehf in Iceland, There I was hired to work on inquiring information to the database.</p>
            </div>
            <div class="section-content-row">
                <p class="basic-text">The company dealt with imports and exports from all around the world and we got around 1000 new orders per day. I worked there from May 2020 to March 2021. </p>
            </div>
            <!-- Section row 3 ends -->

        </div>
    </div>
    <!-- **************************************************** Introduction ends **************************************************** -->
{% endblock %}