{% extends 'layout.html' %}

{% block main %}
<div class="section-body watched">
    <a class="project-button" href="https://github.com/dannivh3/finalproject2" target="_blank">
        <div class="section-content">


            <!-- Section row 1 starts -->
            <div class="section-content-row">
                <div class="my-pic-display-top">
                    <img src="\static\profile-pic.png"/>
                </div>
            </div>
            <!-- Section row 1 ends -->

            <!-- Section row 2 starts -->
            <div class="section-content-row">

                <!-- Collumn 1 starts -->
                <div>
                    <h1 class="my-header-1__project">Family Diary</h1>
                    <h1 class="my-header-2">Social Media</h1>
                    <h1 class="my-header-3">Python, HTML/CSS, SQL, JS, </h1>
                </div>  
                <!-- Collumn 1 ends -->
                
                <!-- Collumn 2 starts -->
                <div class="my-pic">
                    <img src="\static\profile-pic.png"/>
                </div>
                <!-- Collumn 2 ends -->

            </div>
            <!-- Section row 2 ends -->

            <!-- Section row 3 starts-->
            <div class="section-content-row">
                <p class="basic-text"><span class="first-letter">T</span>his is a Social Media page i made. You can post media files and messages. Everything is stored in a Database</p>
            </div>
            <div class="section-content-row">  
                <p class="basic-text">I Had this idea of making a social media page, which is inclusive for family photos. You can invite your family via link to check out your photos that you have posted. The website is not up at the moment but you can check out the source files on my github and run it using the flaks library for python.</p>
            </div>
            <!-- Section row 3 ends -->

        </div>
    </a>
</div>
{% endblock %}