{% extends 'layout.html' %}

{% block main %}
<div class="title-section">
    <h1 class="title-header">Weather Wear</h1>
</div>
<!-- Title for section ends -->

<!-- Project 1 Section Starts -->

<div class="section-body watched">
    <a class="project-button" href="https://github.com/dannivh3/weatherwear" target="_blank">
        <div class="section-content">


            <!-- Section row 1 starts -->
            <div class="section-content-row">
                <div class="my-pic-display-top">
                    <img src="\static\profile-pic.png"/>
                </div>
            </div>
            <!-- Section row 1 ends -->

            <!-- Section row 2 starts -->
            <div class="section-content-row">

                <!-- Collumn 1 starts -->
                <div>
                    <h1 class="my-header-1__project">Weather Wear</h1>
                    <h1 class="my-header-2">Personal Weather App</h1>
                    <h1 class="my-header-3">Python, Telegram and Weather Api's</h1>
                </div>  
                <!-- Collumn 1 ends -->
                
                <!-- Collumn 2 starts -->
                <div class="my-pic">
                    <img src="\static\profile-pic.png"/>
                </div>
                <!-- Collumn 2 ends -->

            </div>
            <!-- Section row 2 ends -->

            <!-- Section row 3 starts-->
            <div class="section-content-row">
                <p class="basic-text"><span class="first-letter">T</span>his app sends me a message every day at 6AM information about the weather. What i should wear, Whether its gonna rain or snow.</p>
            </div>
            <div class="section-content-row">  
                <p class="basic-text">It's a really simple program i made with python and Api's, The app talks to a bot via Telegram and the bot sends me a message. It frees up time in the morning for checking on some weather app and deciding what clothes my son needs to wear to school.</p>
            </div>
            <!-- Section row 3 ends -->

        </div>
    </a>
</div>
{% endblock %}